*.o
*.d
*.so
.vscode/
out/
lib/
obj/
build/
plan.todo

*~
*.sh
*.swp
log.txt

physic_core_example
resource_example
simple_map_try
simple_platformer
simple_window
game_prototype
parser_example
simple_network
